rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /jobs/{document} {
      allow read, write: if true;
    }
    match /windows/{document} {
      allow read, write: if true;
    }
    match /employees/{document} {
      allow read, write: if true;
    }
    match /settings/{document=**} {
      allow read, write: if true;
    }
  }
}
